.rations-skeleton[data-v-b9998802]:not(:last-child){margin-bottom:1rem}.text-skeleton[data-v-b9998802]{height:2rem;width:60%;border-radius:.8rem;-webkit-animation:pulse-bg 1s infinite!important;animation:pulse-bg 1s infinite!important;border-color:#eee!important;background-color:#eee!important}