.employees-skeleton[data-v-6e67c358]:not(:last-child){margin-bottom:1rem}.text-skeleton[data-v-6e67c358]{height:2rem;width:60%;border-radius:.8rem;-webkit-animation:pulse-bg 1s infinite!important;animation:pulse-bg 1s infinite!important;border-color:#eee!important;background-color:#eee!important}