.planning-skeleton[data-v-f3a3a1fa]:not(:last-child){margin-bottom:1rem}.text-skeleton[data-v-f3a3a1fa]{height:2rem;width:60%;border-radius:.8rem;-webkit-animation:pulse-bg 1s infinite!important;animation:pulse-bg 1s infinite!important;border-color:#eee!important;background-color:#eee!important}