.planning-modal__checkbox-group[data-v-51b38140]{display:flex;align-items:flex-start;justify-content:space-between}.planning-modal__checkbox[data-v-51b38140]{flex-basis:83%}.planning-modal__info[data-v-51b38140]{padding:1rem;padding-left:2rem;min-width:23rem}