@font-face {
  font-family: 'Georgia';
  src: url('GeorgiaBoldItalic.eot');
  src: url('GeorgiaBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('GeorgiaBoldItalic.woff2') format('woff2'),
      url('GeorgiaBoldItalic.woff') format('woff'),
      url('GeorgiaBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

